@import "../css/base.scss";

.zmiti-upload-main-ui {
	z-index: 103;

	.zmiti-upload-form {
		width: 6rem;
		@include pos(a);
		height: 5rem;
		left: 2rem;
		top: 4rem;
		text-align: center;

		img {
			width: 4rem;
		}

		input {
			@include pos(a);
			width: 3rem;
			height: 3rem;
			left: 1.5rem;
			opacity: 0;
			//@include transform(tranlateX(1.5rem));
		}

		.zmiti-upload-radio {
			height: 1rem;
			margin-top: 1rem;

			span {
				display: inline-block;
				width: .5rem;
				height: .5rem;
				@include br();
				border: 2px solid  #4eb2e0;
				@include pos(r);
				left: -.4rem;

				&.active {
					&:after {
						content: '';
						@include pos(a);
						width: .36rem;
						height: .36rem;
						left: .07rem;
						top: .07rem;
						z-index: 10;
						background: #4eb2e0;
						@include br();
					}

				}

				&:before {
					content: '男';
					color: #fff;
					@include pos(r);
					left: .8rem;
				}

				&:nth-of-type(1) {
					margin-right: .6rem;
				}

				&:nth-of-type(2) {
					margin-left: .6rem;
					border-color: #e10d83;

					&.active {
						&:after {
							background: #e10d83;
						}

					}

					&:before {
						content: '女';
						color: #fff;
					}

				}

			}

		}

	}

	.zmtit-uploading {
		@include pos(a);
		width: 4rem;
		height: 4rem;
		left: 1rem;
		background: rgba(0, 0, 0, .4);
		color: #fff;
		overflow: hidden;
		top: 0;
		line-height: 4rem;

		&.animate {
			@include animation(opacity .6s infinite alternate);
		}

		.zmiti-error-msg {
			margin-top: 1.4rem;
			line-height: .5rem;
		}

		@-webkit-keyframes opacity {
			to {
				opacity: 0;
			}

		}

	}

	.zmiti-create-btn {
		width: 5rem;
		@include pos(a);
		bottom: 3rem;
		left: 2.5rem;
		color: #fff;

		&.disabled {
			color: #ccc;
			text-shadow: 1px 1px 2px #ccc;
		}

		text-align: center;

		span {
			@include pos(a);
			width: 100%;
			text-align: center;
			top: .45rem;
			font-size: .5rem;
		}

	}

}

.zmiti-cache-canvas {
	@include pos(a);
	z-index: -1;
	left: 11rem;
}
