/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem; }
  .zmiti-play.rotate {
    -webkit-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite; }

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.zmiti-share-main-ui {
  z-index: 104; }
  .zmiti-share-main-ui .zmiti-share-btns {
    display: none; }
  .zmiti-share-main-ui .zmiti-create-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    border: 3px solid #d41133;
    box-sizing: border-box; }
  .zmiti-share-main-ui .zmiti-cache-page {
    width: 10rem;
    left: 20rem;
    top: 20rem;
    -webkit-transform: scale(2);
    transform: scale(2);
    position: absolute;
    z-index: 100; }
    .zmiti-share-main-ui .zmiti-cache-page .zmiti-pos-title {
      bottom: 3.4rem;
      z-index: 11; }
    .zmiti-share-main-ui .zmiti-cache-page img {
      float: left; }
  .zmiti-share-main-ui .zmiti-copyright {
    position: absolute;
    display: none;
    width: 12rem;
    height: .7rem;
    left: -1rem;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    bottom: 0;
    line-height: .7rem;
    font-size: 12px;
    color: #ce1126;
    text-align: center; }
    .zmiti-share-main-ui .zmiti-copyright span {
      margin-right: .4rem; }
  .zmiti-share-main-ui .zmiti-share-img-ui {
    -webkit-transition: 0.5s 0.2s;
    transition: 0.5s 0.2s; }
  .zmiti-share-main-ui .zmiti-share-corner {
    display: none; }
  .zmiti-share-main-ui.active .zmiti-merge-img1 {
    font-size: 0; }
    .zmiti-share-main-ui.active .zmiti-merge-img1 img {
      width: 50%; }
  .zmiti-share-main-ui.active .zmiti-share-img-ui {
    -webkit-transform-origin: center 20%;
    transform-origin: center 20%;
    padding: 4px; }
    .zmiti-share-main-ui.active .zmiti-share-img-ui.scale {
      -webkit-transform: scale(0.72);
      transform: scale(0.72); }
    .zmiti-share-main-ui.active .zmiti-share-img-ui > div {
      position: absolute;
      overflow: hidden; }
      .zmiti-share-main-ui.active .zmiti-share-img-ui > div.border {
        border: 3px solid #d41133; }
      .zmiti-pic-title img:nth-of-type(2) {
        position: absolute;
        bottom: 0;
        left: 0; }
    .zmiti-share-corner {
      position: absolute;
      bottom: -.5rem;
      left: -.5rem;
      display: block !important; }
    .zmiti-share-corner1 {
      bottom: auto;
      left: auto;
      right: -.5rem;
      top: -.5rem;
      display: block !important;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }
  .zmiti-share-main-ui.active .zmiti-copyright {
    display: block; }
  .zmiti-share-main-ui.active .zmiti-share-btns {
    display: block;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal;
    position: absolute;
    width: 8rem;
    left: 1rem;
    bottom: .7rem; }
    .zmiti-share-main-ui.active .zmiti-share-btns > div {
      width: 3.6rem;
      position: relative; }
      .zmiti-share-main-ui.active .zmiti-share-btns > div:nth-of-type(1) {
        margin-right: .4rem; }
      .zmiti-share-main-ui.active .zmiti-share-btns > div:nth-of-type(2) {
        margin-left: .4rem; }
    .zmiti-share-main-ui.active .zmiti-share-btns span {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      text-align: center;
      color: #fff;
      font-size: .5rem;
      text-indent: -.2rem;
      line-height: 1.8rem; }
  .zmiti-share-main-ui .zmiti-pos-title {
    position: absolute;
    width: 3.3rem;
    right: .4rem;
    bottom: .4rem; }
  .zmiti-share-main-ui .zmiti-restart-btn {
    top: -.4rem !important;
    text-align: center;
    width: 6rem !important; }
    .zmiti-share-main-ui .zmiti-restart-btn span {
      font-size: .44rem !important;
      text-indent: -.3rem !important;
      line-height: 1.4rem !important; }
    .zmiti-share-main-ui .zmiti-restart-btn img {
      width: 6rem;
      height: 1.5rem; }

/*# sourceMappingURL=index.css.map */
