@charset "UTF-8";
/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem; }
  .zmiti-play.rotate {
    -webkit-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite; }

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

html, body {
  height: 100%;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", '微软雅黑', arial, sans-serif;
  font-size: 14px;
  background: #fff;
  overflow: hidden; }

img {
  border: none;
  vertical-align: middle;
  width: 100%;
  height: auto; }

.zmiti-index-main-ui {
  overflow: hidden;
  z-index: -1;
  opacity: 0; }
  .zmiti-index-main-ui.show {
    opacity: 1;
    z-index: 102; }
  .zmiti-index-main-ui .zmiti-index-map {
    position: absolute;
    left: 0;
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
    bottom: 4.3rem; }
    .zmiti-index-main-ui .zmiti-index-map .zmiti-index-pos {
      position: absolute;
      margin-top: -.25rem;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      perspective: 800px;
      -webkit-perspective: 800px; }
      .zmiti-index-main-ui .zmiti-index-map .zmiti-index-pos:before, .zmiti-index-main-ui .zmiti-index-map .zmiti-index-pos:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        left: 0;
        bottom: -.1rem;
        background: #fe6257;
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        -webkit-transform: rotateX(70deg);
        transform: rotateX(70deg);
        -webkit-animation: scale 2s 1s infinite;
        animation: scale 2s 1s infinite; }
      .zmiti-index-main-ui .zmiti-index-map .zmiti-index-pos:after {
        -webkit-animation: scale 2s 2s infinite;
        animation: scale 2s 2s infinite; }
@-webkit-keyframes scale {
  from {
    -webkit-transform: scale(0) rotateX(70deg);
    transform: scale(0) rotateX(70deg);
    opacity: 1; }
  to {
    -webkit-transform: scale(1.4) rotateX(70deg);
    transform: scale(1.4) rotateX(70deg);
    opacity: 0; } }
      .zmiti-index-main-ui .zmiti-index-map .zmiti-index-pos img {
        display: block;
        width: .5rem; }
    .zmiti-index-main-ui .zmiti-index-map .zmiti-index-title {
      position: absolute;
      top: 0;
      color: #fff;
      padding: .1rem .4rem;
      border-radius: 4px;
      background: #fe6257;
      text-align: center;
      font-size: .34rem; }
      .zmiti-index-main-ui .zmiti-index-map .zmiti-index-title img {
        width: .4rem;
        position: absolute;
        top: 100%; }
      .zmiti-index-main-ui .zmiti-index-map .zmiti-index-title.right img {
        left: .3rem; }
      .zmiti-index-main-ui .zmiti-index-map .zmiti-index-title.right:before {
        content: "";
        width: 0;
        height: 0;
        left: 100%;
        top: .2rem;
        position: absolute;
        border-top: 6px solid transparent;
        border-left: 6px solid #fe6257;
        border-bottom: 6px solid transparent; }
      .zmiti-index-main-ui .zmiti-index-map .zmiti-index-title.left img {
        right: .3rem; }
      .zmiti-index-main-ui .zmiti-index-map .zmiti-index-title.left:before {
        content: "";
        width: 0;
        height: 0;
        right: 100%;
        top: .2rem;
        position: absolute;
        border-top: 6px solid transparent;
        border-right: 6px solid #fe6257;
        border-bottom: 6px solid transparent; }
  .zmiti-index-main-ui .zmiti-title {
    position: absolute;
    width: 8rem;
    left: 1rem;
    top: 1.3rem;
    z-index: 10;
    -webkit-transform: scale(0) translate3d(0, 20px, 0);
    transform: scale(0) translate3d(0, 20px, 0);
    -webkit-transition: 1s;
    transition: 1s; }
    .zmiti-index-main-ui .zmiti-title.show {
      -webkit-transform: scale(1) translate3d(0, 0, 0);
      transform: scale(1) translate3d(0, 0, 0); }

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.zmiti-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 300;
  text-align: right; }
  .zmiti-mask img {
    width: 6rem; }

.zmiti-loading {
  z-index: 1000;
  background: red; }
  .zmiti-loading .zmiti-loading-ui {
    width: 6rem;
    left: 2rem;
    position: absolute;
    top: 4rem; }
    .zmiti-loading .zmiti-loading-ui img {
      width: .5rem;
      position: absolute;
      top: -.45rem;
      right: -.24rem; }
    .zmiti-loading .zmiti-loading-ui .zmiti-loading-bar {
      width: 100%;
      height: 8px;
      text-align: right;
      border-radius: 4px;
      background: #fff6bc; }
      .zmiti-loading .zmiti-loading-ui .zmiti-loading-bar > div {
        position: absolute;
        width: 0%;
        border-radius: 4px;
        left: 0;
        top: 0;
        z-index: 10;
        height: 8px;
        background: #fe6257; }
    .zmiti-loading .zmiti-loading-ui .zmiti-progress {
      margin-top: .5rem;
      text-align: center;
      color: #fe6257;
      font-family: Georgia;
      font-size: .7rem; }

.zmiti-yanhua {
  position: absolute;
  width: 2rem;
  top: 4rem;
  left: 3rem;
  z-index: 10;
  height: 2rem; }
  .zmiti-yanhua img {
    width: 100%;
    height: 100%; }

/*# sourceMappingURL=index.css.map */
