@import "../css/base.scss";

html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

html, body {
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", '微软雅黑', arial, sans-serif;
	font-size: 14px;
	background: #fff;
	overflow: hidden;

	&>div {
	}

}

img {
	border: none;
	vertical-align: middle;
	width: 100%;
	height: auto;
}

.zmiti-index-main-ui {
	overflow: hidden;
	z-index: -1;
	opacity: 0;

	&.show {
		opacity: 1;
		z-index: 102;
	}

	.zmiti-national {
		width: 3rem;
		@include pos(a);
		right: .5rem;
		top: .4rem;
		z-index: 1002;
	}

	.zmiti-circle {
		width: 8rem;
		@include pos(a);
		left: 1rem;
		top: 2rem;

		span {
			width: 1px;
			height: 100%;
			@include pos(a);
			left: 50%;
			top: 0;

			&:before {
				content: '';
				width: 8px;
				height: 8px;
				top: -4px;
				left: -4px;
				background: #fff;
				display: block;
				@include br(50%);
				@include pos(a);
				-webkit-filter: blur(2px);
			}

		}

	}

	.zmiti-title1 {
		img {
			width: auto;
			height: 100%;
		}

		height: 12rem;
		height: 74vh;
		@include pos(a);
		left: 3rem;
		top: 10vh;
		z-index: 100;
		@include transform(translate3d(0, -14rem, 0));
	}

	.zmiti-title2 {
		width: 1.5rem;
		left: 5rem;
		@include pos(a);
		top: 5rem;
		z-index: 100;
		@include transform(translate3d(0, 12rem, 0));
	}

	.zmiti-title1, .zmiti-title2 {
		@include transition(.8s);

		&.show {
			@include transform(translate3d(0, 0, 0));
		}

	}

	.zmiti-word {
		color: #fff;
		font-size: .5rem;
		z-index: 20;
		@include pos(a);
		@include transform(translate3d(10rem, 0, 0));
		-webkit-animation: move 5s linear infinite;
	}

	.zmiti-logo {
		@include pos(a);
		width: 3rem;
		text-align: center;
		bottom: 1rem;
		left: 3.6rem;

		img {
			width: 1.4rem;
			display: block;
			margin: 0 auto .2rem;
		}

		font-size: 12px;
		color: #fff;
		@include transform(scale(0.8));
	}

}

@-webkit-keyframes move {
	to {
		-webkit-transform: translate3d(-3rem, 0, 0);
	}

}

.zmiti-mask {
	@include pos(f);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .6);
	z-index: 300;
	text-align: right;

	img {
		width: 6rem;
	}

}

.zmiti-loading {
	z-index: 1000;

	.zmiti-loading-ui {
		width: 6rem;
		left: 2rem;
		@include pos(a);
		top: 4rem;
		
		.zmiti-loading-bar{
			width: 2rem;
			height: 1rem;
			@include pos(r);
			margin: 0 auto;
			.zmiti-target{
				$size:.4rem;
				width: $size;
				height: $size;
				@include br();
				background:#fff;
				left: 50%;
				top:.4rem;
				@include pos(a);
				margin-left:-$size/2;
				@include animation(scale linear 2s  infinite alternate);
			}

			span{
				$size:.2rem;
				@include br();
				width: $size;
				height: $size;
				background:#fff;
				top: .46rem;
				@include pos(a);
				&:nth-of-type(1){
					@include animation(move1 linear 2s .5s  infinite);
				}
				&:nth-of-type(2){
					@include animation(move1 linear 2s 1s  infinite);
				}

				&:nth-of-type(3){
					left: 50%;
					@include animation(move2 linear 2s 1.5s  infinite);
				}
				&:nth-of-type(4){
					left: 50%;
					@include animation(move2 linear 2s 2	s  infinite);
				}
			}
		}

	@-webkit-keyframes scale{
		0%{
			@include transform(scale(1));
		}
		20%{
			@include transform(scale(1.2));
		}
		100%{
			@include transform(scale(1.4));
		}
	}
	
	@-webkit-keyframes move1{
		0%{
			opacity:.5;
		}
		10%{
			opacity:1;
			@include transform(translate3d(.8rem,0,0));
		}
		100%{
			opacity:1;
			@include transform(translate3d(.8rem,0,0));
		}
	}
	@-webkit-keyframes move2{
		0%{
			opacity:1;
		}
		10%{
			opacity:0;
			@include transform(translate3d(.8rem,0,0));
		}
		100%{
			opacity:0;
			@include transform(translate3d(.8rem,0,0));
		}
	}


		.zmiti-progress {
			margin-top: .5rem;
			text-align: center;
			color: #fff;
			font-family: Georgia;
			font-size: .7rem;
		}

	}

}

.zmiti-play {
	top: 2rem !important;
}
