@charset "UTF-8";
/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem; }
  .zmiti-play.rotate {
    -webkit-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite; }

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

html, body {
  height: 100%;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", '微软雅黑', arial, sans-serif;
  font-size: 14px;
  background: #fff;
  overflow: hidden; }

img {
  border: none;
  vertical-align: middle;
  width: 100%;
  height: auto; }

.zmiti-index-main-ui {
  overflow: hidden;
  z-index: -1;
  opacity: 0; }
  .zmiti-index-main-ui.show {
    opacity: 1;
    z-index: 102; }
  .zmiti-index-main-ui .zmiti-national {
    width: 3rem;
    position: absolute;
    right: .5rem;
    top: .4rem;
    z-index: 1002; }
  .zmiti-index-main-ui .zmiti-circle {
    width: 8rem;
    position: absolute;
    left: 1rem;
    top: 2rem; }
    .zmiti-index-main-ui .zmiti-circle span {
      width: 1px;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 0; }
      .zmiti-index-main-ui .zmiti-circle span:before {
        content: '';
        width: 8px;
        height: 8px;
        top: -4px;
        left: -4px;
        background: #fff;
        display: block;
        border-radius: 50%;
        position: absolute;
        -webkit-filter: blur(2px); }
  .zmiti-index-main-ui .zmiti-title1 {
    height: 12rem;
    height: 74vh;
    position: absolute;
    left: 3rem;
    top: 10vh;
    z-index: 100;
    -webkit-transform: translate3d(0, -14rem, 0);
    transform: translate3d(0, -14rem, 0); }
    .zmiti-index-main-ui .zmiti-title1 img {
      width: auto;
      height: 100%; }
  .zmiti-index-main-ui .zmiti-title2 {
    width: 1.5rem;
    left: 5rem;
    position: absolute;
    top: 5rem;
    z-index: 100;
    -webkit-transform: translate3d(0, 12rem, 0);
    transform: translate3d(0, 12rem, 0); }
  .zmiti-index-main-ui .zmiti-title1, .zmiti-index-main-ui .zmiti-title2 {
    -webkit-transition: 0.8s;
    transition: 0.8s; }
    .zmiti-index-main-ui .zmiti-title1.show, .zmiti-index-main-ui .zmiti-title2.show {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
  .zmiti-index-main-ui .zmiti-word {
    color: #fff;
    font-size: .5rem;
    z-index: 20;
    position: absolute;
    -webkit-transform: translate3d(10rem, 0, 0);
    transform: translate3d(10rem, 0, 0);
    -webkit-animation: move 5s linear infinite; }
  .zmiti-index-main-ui .zmiti-logo {
    position: absolute;
    width: 3rem;
    text-align: center;
    bottom: 1rem;
    left: 3.6rem;
    font-size: 12px;
    color: #fff;
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
    .zmiti-index-main-ui .zmiti-logo img {
      width: 1.4rem;
      display: block;
      margin: 0 auto .2rem; }

@-webkit-keyframes move {
  to {
    -webkit-transform: translate3d(-3rem, 0, 0); } }
.zmiti-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 300;
  text-align: right; }
  .zmiti-mask img {
    width: 6rem; }

.zmiti-loading {
  z-index: 1000;
  background: red; }
  .zmiti-loading .zmiti-loading-ui {
    width: 6rem;
    left: 2rem;
    position: absolute;
    top: 4rem; }
    .zmiti-loading .zmiti-loading-ui img {
      width: .5rem;
      position: absolute;
      top: -.45rem;
      right: -.24rem; }
    .zmiti-loading .zmiti-loading-ui .zmiti-loading-bar {
      width: 100%;
      height: 8px;
      text-align: right;
      border-radius: 4px;
      background: #fff6bc; }
      .zmiti-loading .zmiti-loading-ui .zmiti-loading-bar > div {
        position: absolute;
        width: 0%;
        border-radius: 4px;
        left: 0;
        top: 0;
        z-index: 10;
        height: 8px;
        background: #fe6257; }
    .zmiti-loading .zmiti-loading-ui .zmiti-progress {
      margin-top: .5rem;
      text-align: center;
      color: #fe6257;
      font-family: Georgia;
      font-size: .7rem; }

.zmiti-play {
  top: 2rem !important; }

/*# sourceMappingURL=index.css.map */
